
.slider-widget-i {
  padding: 0 0 5vw;
}
.slider-widget-swiper {
  padding: 0 20vw;
}
.slider-widget-slide {
  width: 80vw;
  max-width: 650px;
}

.swiper-slide{
  transition: transform 0.4s cubic-bezier(0,1.19,.58,.94);
}
.swiper-slide.swiper-slide-next{
  transform: scale(0.9) translateX(-5%);
}
.swiper-slide.swiper-slide-prev {
  transform: scale(0.9) translateX(5%);
}

.slider-card {
  border-radius: 2vw;
  overflow: hidden;
  cursor: pointer;
  height: 280px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
}
.slider-card-image-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.slider-card-image-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.slider-card-image-wrapper::after {
  background: linear-gradient(to bottom, rgba(0,0,0,0), #0A3731);
}
.slider-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  padding: 5%;
}
